.ChannelControl {
  padding: 8px 16px;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
@media screen and (max-width: 900px) {
  .ChannelControl {
    flex-direction: column;
  }
}
