.ChatHeader {
  font-size: 20px;
  color: #011627;
  padding: 12px 16px;
  background-color: #fff;
  border-left: 1px solid #70799154;
  flex: 0 0 70px;
  cursor: pointer;
  position: relative;
}

.ChatHeader__title {
  margin-bottom: 5px;
}
.ChatHeader__subtitle {
  font-size: 12px;
  color: #707991;
}
.ChatHeader__btn {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid #011627;
  background-color: transparent;
  font-size: 20px;
  height: 25px;
  width: 25px;
  cursor: pointer;
  transition: 0.25s;
  border-radius: 6px;
}
@media screen and (max-width: 900px) {
  .ChatHeader {
    padding-left: 50px;
  }
  .ChatHeader__btn {
    display: flex;
  }
}
